<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Accueil - Dashboard</title>
</head>
<body>

<!-- Le contenu spécifique à la page d'accueil commence ici -->
<section>
    <div class="container-fluid">
        <h1>Bienvenue dans l'espace Vie Étudiante</h1>
        <p class="lead">Découvrez les événements à venir et rejoignez les clubs qui vous intéressent.</p>

        <hr>

        <!-- On pourra mettre les cartes des événements et des clubs ici -->
        <p>Le contenu dynamique de la page d'accueil sera bientôt affiché ici.</p>
    </div>
</section>
<!-- Le contenu spécifique se termine ici -->

</body>
</html>